<!-- TODO: Also need to make Form ACTION dynamic (depending on whether Adding or Removing Stock from Portfolio or Watchlist-->


<form id="StockTransactionForm" method="post" action="StockTransactionSubmit">
    @Html.AntiForgeryToken()
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="TransactionType">Type</label>
            <select class="form-control" id="TransactionType" name="TransactionType" required>
                <option value="">Select </option>
                <option value="Buy">Buy</option>
                <option value="Sell">Sell</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="Ticker">Ticker</label>
            <input type="text" class="form-control" id="Ticker" name="Ticker" autocomplete="off" required />
        </div>
        <div class="form-group col-md-2">
            <label for="Price">Price</label>
            <input type="number" class="form-control" id="Price" name="Price" min="0" autocomplete="off" required />
        </div>
        <div class="form-group col-md-2">
            <label for="Share">Shares</label>
            <input type="number" class="form-control" id="Share" name="Share" min="0" autocomplete="off" required />
        </div>
        <div class="form-group col-md-3 formButtonContainer">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>

