


<table class="table dataTable">
    <thead class="thead-dark">
        <tr>
            <th>Ticker</th>
            <th>Company</th>
            <th>Price ($)</th>
            <th>Shares</th>
            <th>Value ($)</th>
            <th>Transaction Type</th>
            <th>Transaction Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>NVDA</td>
            <td>NVIDIA Corporation</td>
            <td>240.32</td>
            <td>10</td>
            <td>2403.20</td>
            <td>Buy</td>
            <td>2020/01/04</td>
        </tr>
        <tr>
            <td>NVDA</td>
            <td>NVIDIA Corporation</td>
            <td>263.29</td>
            <td>10</td>
            <td>2632.90</td>
            <td>Sell</td>
            <td>2020/01/04</td>
        </tr>
    </tbody>
</table>


