
<table class="table dataTable">
    <thead class="thead-dark">
        <tr>
            <th>Ticker</th>
            <th>Company</th>
            <th>Price ($)</th>
            <th>Shares</th>
            <th>Value ($)</th>
            <th>Return ($)</th>
            <th>Return (%)</th>
            <th>Portfolio (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>APPL</td>
            <td>Apple Inc</td>
            <td>150.00</td>
            <td>20</td>
            <td>3000.00</td>
            <td>1000.00</td>
            <td>50</td>
            <td>100</td>
        </tr>
        <tr>
            <td>KO</td>
            <td>Coca-Cola Co</td>
            <td>150.00</td>
            <td>20</td>
            <td>3000.00</td>
            <td>1000.00</td>
            <td>50</td>
            <td>100</td>
        </tr>
    </tbody>
</table>