
<table class="table dataTable">
    <thead class="thead-dark">
        <tr>
            <th>Ticker</th>
            <th>Company</th>
            <th>Price ($)</th>
            <th>Day (%)</th>
            <th>Month (%)</th>
            <th>Year (%)</th>
            <th>5 Years (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>APPL</td>
            <td>Apple Inc</td>
            <td>150.00</td>
            <td>-1.4</td>
            <td>+5.2</td>
            <td>+40.3</td>
            <td>+201.3</td>
        </tr>
        <tr>
            <td>IDG</td>
            <td>Indigo Books and Music</td>
            <td>3.92</td>
            <td>-3.2</td>
            <td>-4.8</td>
            <td>-50.2</td>
            <td>-83.8</td>
        </tr>
    </tbody>
</table>