
@{
    ViewBag.Title = "Stock";
}

<h2>@ViewBag.Title </h2>
<ul>
    <li>@Html.ActionLink("Stock Company Info", "CompanyInfo", "Stock")</li>
    <li>@Html.ActionLink("Stock Stock Info", "StockInfo", "Stock")</li>
    <li>@Html.ActionLink("Stock Financial Metrics", "FinancialMetrics", "Stock")</li>
</ul>
