
@{
    ViewBag.Title = "Performance Metrics";
}

<h2>@ViewBag.Title</h2>




<div class="row pageNavButtonsContainer">
    <div class="col-md-12">
        <a href="/Portfolio/Index" class="btn btn-info">Back</a>
    </div>
</div>